:root{
    --main-bg-color: #2874f0;
}


*{
    padding: 0;
    margin: 0;
}

header{
    background: var(--main-bg-color);   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
    display: flex;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 88px;
    padding: 0 25px;
}

nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li{
    list-style: none;
    padding: 0 23px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    font-weight: bold;
}

.search{
    display: flex;
    align-items: center;
}

.button{
    background-color: white;
    margin: 15px 27px;
    width: 150px;
    height: 30px;
    color: #0c3f92;
    border-radius: 5px;
    font-weight: bold;
    
}

.button:hover{
    font-weight: bold;
    color: white;
    background-color: #2874f0;
}

.search input{
    width: 30vw;
    height: 27px;
    border-radius: 5px;
    margin: 0 16px 0 56px;
    padding: 0 12px;
}

.search button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
}

.slider{
    width: 59vw;
    margin: 12px auto;
    overflow: hidden;
}

.card{
    width: 80vw;
    margin: 37px auto;
    font-family: 'Times New Roman', Times, serif;
}

.cards{
    display: flex;
    overflow: hideen;
}

.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
}

.card h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    min-height: calc(100vh - 58px - 12vh);
}

footer{
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}